<header>
  <div class="collapse navbar-collapse white" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'index'}}<span class="glyphicon glyphicon-tent" aria-hidden="true"></span> Home{{/link-to}}</li>
        <li>{{#link-to 'about'}}∆bou†{{/link-to}}</li>
        <li>{{#link-to 'contact'}}çon†ac†{{/link-to}}</li>
        </ul>
    </div>
</header>
<div>
    {{outlet}}
</div>
<footer>
  <p>&copy;Epicodus 2016</p>
</footer>
