<header>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
        </ul>
    </div>
</header>
<div class="container">
    {{outlet}}
</div>
<footer>
  <p>&copy;Epicodus 2016</p>
</footer>
