<div class="jumbotron">
<h1 id="title">Beyoncé ∆ Blog</h1>
<h4>All the news about Queen B + more</h4>
</div>



  {{#each model as |post|}}
    {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{/each}}

<div class="container">
  {{new-post save2="save3"}}
</div>
